### file handling:
1. create
2. write
3. reading
4. appending
5. renaming
6. removing

In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

### Question 5:
1. create a folder
2. goto that folder and create 5 no.of files
3. All the file names should be unique
4. Add some content into the file and the content in all the file shuld be unique
5. File size should be 512bits

In [3]:
import os
os.mkdir("python")  #creating a folder
        for i in range(5):  #creating files
        file_name=" "  #creating file name
        f=open("c://puthon//file name","a")  #creates file with a given name
        for i in range(512):  #adding content
            f.write("character")

IndentationError: unexpected indent (<ipython-input-3-8a6f33cca2bb>, line 3)

### Tuple:
1. Immutable-->changes not allowed
2. created using ( )
3. elements are seperated by ,
4. Indexed,Ordered

In [4]:
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [5]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [7]:
l=list(tup1)
l[2]=100
tup1=tuple(l)
tup1

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

In [16]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [12]:
tup2=(12,232,4,354) #unpacking
a,b,c,d=tup2
print(d)

354

In [15]:
x=10,20,30 #packing
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [17]:
#tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [18]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. Doesnot allow duplicate values
3. Not Ordered
4. unindexed
5. Mutable

In [20]:
set1={1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [21]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### built -in functons:
1. len()
2. min()
3. max()
4. set()

In [22]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [24]:
#Removing duplicates from the list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods
1. add()-->adding an element
2. pop()   -->removing elements
   remove()
   discard()
   clear()

In [25]:
set2=set()
print(type(set2))

<class 'set'>

In [26]:
#Adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [27]:
set2.pop()

100

In [28]:
set2.remove(12)

In [29]:
set2.discard(12)

In [30]:
set2.clear()
set2

set()

In [33]:
# union,difference,intersection,subset,suoerset,disjoint,symmetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}
#union A U B-->{1,2,3,4,5,6,7}
print(A.union(B))
# A - B-->{1,2}
# B - A-->{6,7}
print(A.difference(B)) #A-B
print(B.difference(A)) #B-A
#intersection A and B-->{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [34]:
#subset,suoer set,disjoint,symmetric difference
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [35]:
#disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [37]:
#symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [38]:
A.union(B)
A
B

{3, 4, 5, 6, 7}

In [39]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [40]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [43]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:
```dictionary name={ key1:value1,.....}```
rules for key:
1. keys should be unique
2. keys should be immutable

In [46]:
#creating a dictionary
dict1={"name":"vijaya","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'vijaya', 'emp id': 12, 'address': 'hyd'}

In [45]:
#extract an element
print(dict1["emp id"])

1234

In [47]:
#removing or deleting an ertry
del dict1["address"]
print(dict1)

{'name': 'vijaya', 'emp id': 12}

In [49]:
#adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'vijaya', 'emp id': 12, 'course': 'python'}

### Built-in methods:
1. keys()
2. items()
3. values()
4. get()
5. pop()

In [53]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['vijaya', 12, 'python'])
dict_items([('name', 'vijaya'), ('emp id', 12), ('course', 'python')])

In [54]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

vijaya
vijaya

In [55]:
#Adding an entry
dict1["address"]="hyd"
dict1

{'name': 'vijaya', 'emp id': 12, 'course': 'python', 'address': 'hyd'}

In [56]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'vijaya', 'emp id': 12, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [58]:
#removing an entry -->pop(),popitem()
dict1.pop("name")
dict1

{'emp id': 12, 'course': 'python', 'address': 'hyd', 2: 2, 3: 3}

In [59]:
dict1.popitem()

(3, 3)

In [60]:
dict1

{'emp id': 12, 'course': 'python', 'address': 'hyd', 2: 2}