In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sumathi16/Datasets/master/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
# Creating a new column Family in the dataset  by adding SibSp column and Parch column
df['Family'] = df['SibSp'] + df['Parch']
df.head(2)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Family
0            1         0       3  ...   NaN        S       1
1            2         1       1  ...   C85        C       1

[2 rows x 13 columns]

In [4]:
# Ticket--> As it is just a random number, we can skip this column from our analysis
df.drop('Ticket',axis=1,inplace=True)

In [5]:
## Imputing with missing values
df.isnull().mean().sort_values(ascending=False)

Cabin          0.771044
Age            0.198653
Embarked       0.002245
Family         0.000000
Fare           0.000000
Parch          0.000000
SibSp          0.000000
Gender         0.000000
Name           0.000000
Pclass         0.000000
Survived       0.000000
PassengerId    0.000000
dtype: float64

In [6]:
# Removing Cabin column because 77% are missing value
df.drop('Cabin',axis=1,inplace=True)

In [7]:
# Median---> sorting in the order (middle value) NaN in the age column should be substituted with median of age
df.Age.fillna(df.Age.median(), inplace=True)
df.Age.isnull().sum()

0

In [8]:
## Imputing the Embarked Column---> Mode Imputation
df.Embarked.fillna(df.Embarked.mode()[0], inplace=True)
df.Embarked.isnull().sum()

0

In [9]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Gender         0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Family         0
dtype: int64

In [10]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
Family           int64
dtype: object

In [11]:
## Remove passenger ID
df.drop('PassengerId',axis=1,inplace=True)

In [12]:
df.drop('Name',axis=1,inplace=True)

In [13]:
df.nunique()

Survived      2
Pclass        3
Gender        2
Age          88
SibSp         7
Parch         7
Fare        248
Embarked      3
Family        9
dtype: int64

In [14]:
## Seperating the Input and Output Data, dropping the Survived column from the data
X = df.drop('Survived', axis=1)
X.shape

(891, 8)

In [15]:
X= pd.get_dummies(X)
X.shape

(891, 11)

In [16]:
## Output Column
y = df.iloc[:,0]
y.shape

(891,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23) 
                                                        # random_state = to select the constant rows

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(668, 11)
(223, 11)
(668,)
(223,)

In [19]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression() # creating an object for Logistic Regression
log_reg.fit(X_train, y_train)
y_train_pred = log_reg.predict(X_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [20]:
## accuracy_score---> With help of this metric, we can evaluate the overall 
## performance of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_train_pred)

0.8098802395209581

In [21]:
from sklearn.ensemble import AdaBoostClassifier
adc=AdaBoostClassifier()
adc.fit(X_train,y_train)
y_pred=adc.predict(X_test)

In [22]:
accuracy_score(y_pred,y_test)

0.8071748878923767

In [23]:
accuracy_score(y_train,adc.predict(X_train))

0.8413173652694611

In [24]:
adc

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [26]:
from sklearn.ensemble import AdaBoostClassifier
adc=AdaBoostClassifier(learning_rate=10,n_estimators=75)
adc.fit(X_train,y_train)
y_pred=adc.predict(X_test)
print("test accuracy",accuracy_score(y_pred,y_test))
print("test accuracy",accuracy_score(y_train,adc.predict(X_train)))

test accuracy 0.7982062780269058
test accuracy 0.7829341317365269

In [29]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
adc=AdaBoostClassifier(base_estimator=LogisticRegression())
adc.fit(X_train,y_train)
y_pred=adc.predict(X_test)
print("test accuracy",accuracy_score(y_pred,y_test))
print("test accuracy",accuracy_score(y_train,adc.predict(X_train)))

test accuracy 0.7623318385650224
test accuracy 0.8068862275449101

In [32]:
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
gbc.fit(X_train,y_train)
y_pred=adc.predict(X_test)
print("test accuracy",accuracy_score(y_pred,y_test))
print("test accuracy",accuracy_score(y_train,gbc.predict(X_train)))

test accuracy 0.7623318385650224
test accuracy 0.905688622754491

In [33]:
import xgboost as xgb
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(X_train,y_train)
preds=xgb.predict(X_test)
print("test accuracy",accuracy_score(y_pred,y_test))
print("test accuracy",accuracy_score(y_train,xgb.predict(X_train)))

test accuracy 0.7623318385650224
test accuracy 0.8832335329341318