# CSE - 221710304026 - KANNURI VIJAYA LAKSHMI
##### Read the below corpus:

corpus = [
   'This is the first document.',
     'This document is the second document.',
      'And this is the third(#)  one.',
     'Is this the first document?',
     "The quick brown fox jumped over the lazy dog.",
     "John is a good boy!!!. John watches basketball",
     “ We are going to the party:-)”,
     “ It is very cold(today)”,

 ]

Remove all the punctuations from the corpus
Store the sentences
Store the individual words out of all sentences
Accept the following list of words and find the unique words count from the list without using CountVectorizer and print the output as a DataFrame

In [1]:
import numpy as np
import pandas as pd
import string

In [2]:
corpus = [
   'This is the first document.',
     'This document is the second document.',
      'And this is the third(#)  one.',
     'Is this the first document?',
     "The quick brown fox jumped over the lazy dog.",
     "John is a good boy!!!. John watches basketball",
     " We are going to the party:-)",
     " It is very cold(today)",]

In [3]:
#Remove all the punctuations from the corpus
words=dict()
corpus_pun=[]
for line in corpus:
    s=' '
    for i in line:
        if i not in string.punctuation:
            s+=i
    corpus_pun.append(s)
    word=s.lower().split()
    for w in word:
        words[w]=words.get(w,0)+1

In [4]:
corpus_pun #Store the sentences

[' This is the first document',
 ' This document is the second document',
 ' And this is the third  one',
 ' Is this the first document',
 ' The quick brown fox jumped over the lazy dog',
 ' John is a good boy John watches basketball',
 '  We are going to the party',
 '  It is very coldtoday']

In [5]:
words #Store the individual words out of all sentences

{'a': 1,
 'and': 1,
 'are': 1,
 'basketball': 1,
 'boy': 1,
 'brown': 1,
 'coldtoday': 1,
 'document': 4,
 'dog': 1,
 'first': 2,
 'fox': 1,
 'going': 1,
 'good': 1,
 'is': 6,
 'it': 1,
 'john': 2,
 'jumped': 1,
 'lazy': 1,
 'one': 1,
 'over': 1,
 'party': 1,
 'quick': 1,
 'second': 1,
 'the': 7,
 'third': 1,
 'this': 4,
 'to': 1,
 'very': 1,
 'watches': 1,
 'we': 1}

In [6]:
#Accept the following list of words and find the unique words count from the list without using CountVectorizer and print the
# output as a DataFrame
col1=list(words.keys())
col2=list(words.values())
corpusdf=pd.DataFrame(np.array([col1,col2])).transpose()
corpusdf.rename(columns={0:"words",1:"count"},inplace=True)

In [7]:
corpusdf

         words count
0         this     4
1           is     6
2          the     7
3        first     2
4     document     4
5       second     1
6          and     1
7        third     1
8          one     1
9        quick     1
10       brown     1
11         fox     1
12      jumped     1
13        over     1
14        lazy     1
15         dog     1
16        john     2
17           a     1
18        good     1
19         boy     1
20     watches     1
21  basketball     1
22          we     1
23         are     1
24       going     1
25          to     1
26       party     1
27          it     1
28        very     1
29   coldtoday     1

In [8]:
corpusdf.shape

(30, 2)