**CSE-221710304026-k.vijayalakshmi**

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

What is the parameter we should use to mention the first row in the data set are not columns what is the value we should send for that parameter

To include the first row in data set we need to pass header=None as paramete

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Mounika-Kajjam/SummerInternship/master/data.csv",sep=";")
df

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Mounika-Kajjam/SummerInternship/master/data.csv",sep=";",header=None)
df

                        0     1          2           3        4              5
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [4]:
#Read the data in the data.csv file in the proper format

df.set_axis( ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country'],axis=1,inplace=True)
df

              my_datetime event  ...   source        country
0     2018-01-01 00:01:01  read  ...      SEO  North America
1     2018-01-01 00:03:20  read  ...      SEO  South America
2     2018-01-01 00:04:01  read  ...  AdWords         Africa
3     2018-01-01 00:04:02  read  ...  AdWords         Europe
4     2018-01-01 00:05:03  read  ...   Reddit  North America
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1795 rows x 6 columns]

In [5]:
# check how many rows and columns are there

print(" Rows   :",df.shape[0],"\n","Columns:",df.shape[1])

 Rows   : 1795
 Columns: 6

In [6]:
# what are the columns names

list(df.columns)

['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country']

In [7]:
#what are are the row labels

list(df.head(10).index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**1.Write down your observation**

In [8]:
#what type of data you have 

df.dtypes # All columns except user id are object type and userid is INT type

my_datetime     object
event           object
country_code    object
user_id          int64
source          object
country         object
dtype: object

In [9]:
# In the data if you have observed are there any missing values(NaN)
df.isna().sum() # there are no null values are present

my_datetime     0
event           0
country_code    0
user_id         0
source          0
country         0
dtype: int64

In [10]:
#print the datatype of each column
df.dtypes

my_datetime     object
event           object
country_code    object
user_id          int64
source          object
country         object
dtype: object

In [11]:
# For each data type how many columns are there
print("object columns:",len(df.select_dtypes(include='O').columns))
print("int columns:",len(df.select_dtypes(include='int64').columns))

object columns: 5
int columns: 1

In [12]:
# Using describe function observe the different measures for numerical and categorical columns
df.describe(include="object")

                my_datetime event country_code  source country
count                  1795  1795         1795    1795    1795
unique                 1773     1            8       3       6
top     2018-01-01 03:10:36  read    country_2  Reddit    Asia
freq                      3  1795          462     949     667

In [13]:
#for nuerical columns
df.describe()   # by default describe() works only on numeric data

            user_id
count  1.795000e+03
mean   2.458152e+09
std    5.183162e+02
min    2.458151e+09
25%    2.458152e+09
50%    2.458152e+09
75%    2.458153e+09
max    2.458153e+09

In [14]:
# Use the info function to get the detailed info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   my_datetime   1795 non-null   object
 1   event         1795 non-null   object
 2   country_code  1795 non-null   object
 3   user_id       1795 non-null   int64
 4   source        1795 non-null   object
 5   country       1795 non-null   object
dtypes: int64(1), object(5)
memory usage: 84.3+ KB

In [15]:
df[df.duplicated()] #all columns have duplicates

Empty DataFrame
Columns: [my_datetime, event, country_code, user_id, source, country]
Index: []

In [16]:
# Check for the duplicate values in all the columns
for i in df.columns:
    print(i,"\n",df[df[i].duplicated()],"\n\n")

my_datetime
               my_datetime event  ...   source        country
85    2018-01-01 01:17:48  read  ...   Reddit           Asia
96    2018-01-01 01:23:44  read  ...  AdWords           Asia
194   2018-01-01 02:46:20  read  ...      SEO  North America
226   2018-01-01 03:10:36  read  ...   Reddit  North America
227   2018-01-01 03:10:36  read  ...  AdWords      Australia
267   2018-01-01 03:31:51  read  ...  AdWords           Asia
337   2018-01-01 04:26:24  read  ...  AdWords         Europe
416   2018-01-01 05:44:15  read  ...   Reddit  North America
420   2018-01-01 05:47:29  read  ...   Reddit         Europe
422   2018-01-01 05:47:50  read  ...   Reddit           Asia
458   2018-01-01 06:09:59  read  ...   Reddit           Asia
495   2018-01-01 06:38:26  read  ...   Reddit  South America
721   2018-01-01 09:48:57  read  ...   Reddit  North America
738   2018-01-01 10:00:14  read  ...   Reddit           Asia
772   2018-01-01 10:22:10  read  ...   Reddit         Africa
912   2018-01-01 12:14:20  read  ...      SEO  North America
1302  2018-01-01 17:39:00  read  ...  AdWords         Europe
1494  2018-01-01 20:20:34  read  ...   Reddit         Africa
1536  2018-01-01 20:52:13  read  ...  AdWords  North America
1660  2018-01-01 22:27:20  read  ...   Reddit         Africa
1731  2018-01-01 23:16:19  read  ...   Reddit  South America
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe

[22 rows x 6 columns]


event
               my_datetime event  ...   source        country
1     2018-01-01 00:03:20  read  ...      SEO  South America
2     2018-01-01 00:04:01  read  ...  AdWords         Africa
3     2018-01-01 00:04:02  read  ...  AdWords         Europe
4     2018-01-01 00:05:03  read  ...   Reddit  North America
5     2018-01-01 00:05:42  read  ...   Reddit  North America
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1794 rows x 6 columns]


country_code
               my_datetime event  ...   source        country
1     2018-01-01 00:03:20  read  ...      SEO  South America
2     2018-01-01 00:04:01  read  ...  AdWords         Africa
3     2018-01-01 00:04:02  read  ...  AdWords         Europe
7     2018-01-01 00:06:15  read  ...  AdWords         Europe
8     2018-01-01 00:07:21  read  ...  AdWords  North America
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1787 rows x 6 columns]


user_id
 Empty DataFrame
Columns: [my_datetime, event, country_code, user_id, source, country]
Index: []


source
               my_datetime event  ...   source        country
1     2018-01-01 00:03:20  read  ...      SEO  South America
3     2018-01-01 00:04:02  read  ...  AdWords         Europe
5     2018-01-01 00:05:42  read  ...   Reddit  North America
6     2018-01-01 00:06:06  read  ...   Reddit         Europe
7     2018-01-01 00:06:15  read  ...  AdWords         Europe
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1792 rows x 6 columns]


country
               my_datetime event  ...   source        country
4     2018-01-01 00:05:03  read  ...   Reddit  North America
5     2018-01-01 00:05:42  read  ...   Reddit  North America
6     2018-01-01 00:06:06  read  ...   Reddit         Europe
7     2018-01-01 00:06:15  read  ...  AdWords         Europe
8     2018-01-01 00:07:21  read  ...  AdWords  North America
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1789 rows x 6 columns]

In [17]:

#Replace the value “South America” from country column with NaN and fill with mode of the column
df1 = df.replace({"country":"South America"},np.nan)
df1.head()

           my_datetime event country_code     user_id   source        country
0  2018-01-01 00:01:01  read    country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read    country_7  2458151262      SEO            NaN
2  2018-01-01 00:04:01  read    country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read    country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read    country_8  2458151265   Reddit  North America

In [18]:
#Now we fill nan values with mode of country
df1["country"] = df1["country"].fillna(df1["country"].mode().iloc[0])
df1

              my_datetime event  ...   source        country
0     2018-01-01 00:01:01  read  ...      SEO  North America
1     2018-01-01 00:03:20  read  ...      SEO           Asia
2     2018-01-01 00:04:01  read  ...  AdWords         Africa
3     2018-01-01 00:04:02  read  ...  AdWords         Europe
4     2018-01-01 00:05:03  read  ...   Reddit  North America
...                   ...   ...  ...      ...            ...
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[1795 rows x 6 columns]

In [19]:
#Check the count of categories being repeated in the source column.
df["source"].value_counts()

Reddit     949
AdWords    500
SEO        346
Name: source, dtype: int64